venv
.idea
docker-compose.yml
deployment/cloud/deploy-remove.sh
.DS_Store
*.egg-info
build
dist

results.json
sops-v3.7.1.linux
sops.linux
.pylintrc
settings.json
__pycache__
firebase-*
firestore-*
ui-debug.log