apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: otter-pod-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: otter-pod
  minReplicas: 1
  maxReplicas: 1
  targetCPUUtilizationPercentage: 80